/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Exo Font */
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');


html,
body {
    overflow-x: hidden;
}


body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.error-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: #ffffff;
    background-color: #0d2333;
}

.background-container {
    position: relative;
    height: 100vh;
    background-color: black;
    overflow-y: auto;
}


@media (min-width: 992px) {
    .background-container {
        overflow: hidden;
    }
}


.background-img {
    position: absolute;
    top: 160px;
    left: 0;
    width: 75%;
    height: auto;
    object-fit: cover;
    object-position: center top;
}

@media (max-width: 991.98px) {
    .background-img {
        top: 0;
        width: 100%;
    }
}


.content a {
    text-align: center;
    align-content: center;
    align-items: center;
}


.about {
    background-color: #323E57;
}


.portfolio {
    background-color: #5C5A7A;
}


.services {
    background-color: #8C779B;
}


.contact {
    background-color: #BF95B9;
}


/* ---------------------navigation bar-------------------- */

.logo {
    width: 175px;
}


.navbar-nav .nav-link {
    color: #E6F4F1;
}


.navbar-nav .nav-link:hover {
    color: #E59D23;
    font-size: 18px;
}


.navbar-nav .active .nav-link {
    color: #ECBA65;
    font-size: 18px;
    font-weight: 700;
}


.bg-light {
    background-color: transparent !important;
}


.navbar-dark .navbar-toggler {
    margin-right: 10px;
    margin-top: 20px;
}


@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }


    @media (max-width: 991.98px) {
        .navbar-expand-md .navbar-nav .nav-link {
            padding-right: 9px;
            padding-left: 9px;
        }
    }
}


.navbar-collapse {
    background-color: #495064;
    border-radius: 8px;
    flex-grow: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}


.social-icons {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-right: 5px;
}


.social-icon {
    color: #9DB2C7;
    margin-left: 10px;
    font-size: 20px;
}


.contact .social-icon {
    color: #003D21;
}


.services .social-icon {
    color: #fee9ff;
}


.social-icon:hover {
    color: #697D91;
}


/* ---------------------full width menu-------------------- */

@media (max-width: 767.98px) {
    .navbar-collapse {
        position: fixed;
        top: 115px;
        left: 0;
        right: 0;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.9);
    }


    .navbar-collapse ul.navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
    }


    .navbar-collapse ul.navbar-nav li {
        margin-bottom: 1rem;
    }


    .logo {
        margin-left: 70px;
    }


    .navbar-nav .active .nav-link {
        color: #E59D23;
    }
}


/* ---------------------section-landing page-------------------- */

.jumbotron {
    color: #E6F4F1;
    background-color: transparent;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
}


@media (max-width: 767.98px) {
    .jumbotron {
        padding-top: 0;
    }


    .background-img {
        margin-top: 100px;
        width: 100%;
    }


    .content {
        margin-bottom: 100px;
    }


    .content .lead {
        font-size: 1.5rem;
    }
}


.jumbotron h1 {
    color: #E59D23;
    font-family: Exo, sans-serif;
}


.home h2 {
    font-family: Exo, sans-serif;
}


.content {
    color: #E6F4F1;
    margin-top: 75px;
}


.fade-in {
    opacity: 0;
    animation: fadeInAnimation 15s forwards;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}


@media (min-width: 992px) {
    .content {
        margin-left: -25px;
        margin-right: 25px;
    }


    .content .lead {
        text-align: left;
    }
}


@media (max-width: 991.98px) {
    .row-container {
        margin-top: 200px;
    }


    .content {
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 40px;
    }
}


@media (min-width: 768px) {
    .content .lead {
        font-size: 2rem;
    }
}


.content .lead {
    color: #E6F4F1;
    font-family: Exo, sans-serif;
}


.content .btn-primary {
    color: #000000;
    background-color: #E59D23;
    border-color: #E59D23;
    margin-top: 30px;
}


.line-space {
    line-height: 40px;
}


/* ---------------------about page-------------------- */

.profile-image {
    width: 100%;
    margin-top: -75px;
}


/* tab section */

.tab-area {
    margin-top: -50px;
}


/*Work History */

.history-heading {
    color: #e2f0ff;
    margin-bottom: 50px;
}


.timeline-item {
    padding: 60px 2em 0em 2em;
    position: relative;
    color: #e2f0ff;
    border-left: 1px solid;
    margin-left: 20px;
    border-color: #D8A31A;
}


.timeline-item p {
    padding: 0;
    margin: 0;
    color: #A1AABA;
}


#education .period {
    color: #A1AABA;
}


.timeline-item h2 {
    font-size: 1.15rem;
}


.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}


.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #D8A31A;
}


.history-items {
    margin-bottom: 30px;
}


.tab-pane {
    margin-top: 20px;
}


.progress {
    margin: 30px;
    height: 20px;
}


@media (max-width: 991.98px) {
    .image-container {
        margin: 0 50px 120px;
    }


    .tab-area {
        margin-bottom: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.nav {
    width: 80%;
}


@media (max-width: 575.98px) {
    .nav {
        width: 90%;
    }


    .nav-tabs .nav-link {
        padding-left: 10px;
        padding-right: 10px;
    }


    .progress-container {
        width: 90%;
    }
}


#education h1,
#education p {
    color: #e2f0ff;
}


#education h1 {
    font-size: 1.5rem;
}


.timeline-item h2 {
    font-size: 1rem;
}


h3 {
    margin-top: 20px;
    font-size: 1.5rem;
}


#education p {
    margin-bottom: 6px;
}


#education ul {
    margin-top: 3rem;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
}


.nav-tabs .nav-link {
    color: #D8A31A;
}


.bullet-list {
    list-style: none;
    padding-left: 20px;
}


.bullet-list li {
    position: relative;
    padding-left: 1rem;
}


.bullet-list h1:before {
    content: "";
    position: absolute;
    left: -1rem;
    top: 0%;
    transform: translateY(100%);
    width: 10px;
    height: 10px;
    background-color: #D8A31A;
    border-radius: 50%;
}


.nav-tabs {
    border-bottom: 1px solid #e59d23;
}


.progress-bar {
    background-color: #D8A31A;
    text-transform: uppercase;
    text-align: left;
    padding-left: 40px;
}


/* ---------------------portfolio-------------------- */

.portfolio h1 {
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: left;
    color: #F0EDFF;
    padding-left: 30px;
    margin-top: 10px;
    font-size: 2rem;
}


.page-link:hover {
    color: #e59d23;
}


.projects {
    margin-left: 0;
    margin-right: 0;
}


.pagination {
    justify-content: end;
    padding-right: 15px;
}


.card-body {
    padding: 10px 10px;
}


.card-body h2 {
    text-transform: uppercase;
    color: #00855E;
    font-size: 1.25rem;
}


@media (max-width: 767.98px) {
    .card-space {
        padding-left: 0;
        padding-right: 0;
    }


    section .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}


@media (min-width: 992px) {
    @media (max-width: 1280px) {
        .card-space {
            padding-left: 5px;
            padding-right: 5px;
        }


        .portfolio .container-fluid {
            margin-top: -20px;
        }
    }
}


.card-space {
    text-align: center;
}


.card-text:last-child {
    color: #74729D;
}


.list-group-item {
    padding-left: 15px;
    padding-right: 15px;
    color: #74729D;
    text-align: center;
}


.card-body .card-link:hover {
    color: #e59d23;
}


a.card-link {
    color: #0067D6;
}


/* ---------------------services-------------------- */

.services-section {
    background-color: #FEE9FF;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px 40px 20px;
    margin: 0;
    margin-bottom: 75px;
}


@media (max-width: 991.98px) {
    .services-section {
        margin: 0;
        margin-bottom: 75px;
    }
}


.service-column {
    padding: 0;
}


.service {
    width: 95%;
    text-align: center;
    margin: 0 auto;
}


.service i {
    font-size: 48px;
    margin-bottom: 20px;
}


.services-section h1 {
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 2rem;
}


.service h2 {
    font-size: 24px;
    margin-bottom: 20px;
}


.service p {
    font-size: 16px;
    line-height: 1.5;
    color: #73658B;
}


.hire-me {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #E59D23;
    align-items: center;
    border-color: #E59D23;
    color: #000000;
}


.btn-primary:hover {
    background-color: #E6F4F1;
    border-color: #00C9AF;
    color: #E59D23;
}


/* ---------------------testimonials-------------------- */

.testimonial-section {
    margin-bottom: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}


@media (max-width: 991.98px) {
    .testimonial-section {
        margin-left: 0;
    }
}


.testimonial-section h2 {
    font-size: 32px;
    color: #FEE9FF;
    text-transform: uppercase;
    margin-bottom: 40px;
}


.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    transition: transform 1s ease-in-out;
    position: relative;
}


@media (max-width: 767.98px) {
    .testimonial-grid {
        display: block;
    }


    .testimonial-section {
        padding-left: 0px;
        padding-right: 0px;
    }


    .service-column {
        margin-bottom: 40px;
    }


    .testimonial-section h2 {
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
    }
}


.testimonial {
    background-color: #FEE9FF;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}


.testimonial h3 {
    color: #73658B;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}


.testimonial p {
    font-size: 20px;
    color: #007A67;
    padding: 0 5px 10px 5px;
    margin-bottom: 10px;
    font-style: italic;
    text-align: left;
}


.testimonial img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 50%;
}


.testimonial-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


/* ---------------------contact-------------------- */

.contact-form {
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}


.contact-container {
    margin-bottom: 30px;
}


.contact-form h1 {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #003D21;
    font-size: 2rem;
}


.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}


.contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #003D21;
    color: #FFE6FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.contact-form button:hover {
    background-color: #45a049;
}


.contact-details {
    display: flex;
    flex-direction: column;
    background-color: #FFE6FF;
    border-radius: 10px;
    padding: 20px;
    max-width: 450px;
    margin: 0 auto 30px;
}


.form-control {
    background-color: #FFE6FF;
}


@media (max-width: 767.98px) {
    .contact-details {
        max-width: 100%;
    }


    .contact-form {
        max-width: 100%;
    }
}


.contact-details h2 {
    text-align: center;
    margin-bottom: 50px;
    color: #866080;
}


.contact-details h3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #866080;
}


.contact-details p {
    display: flex;
    margin-bottom: 15px;
    margin-left: 50px;
}


.contact-details a {
    margin-right: auto;
    color: #0067D6;
}


.contact-details p i {
    margin-right: 15px;
}


/* ---------------------footer-------------------- */

.cv-download {
    margin-top: auto;
    margin-bottom: auto;
}


.btn-download {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 30px;
    margin-left: 10px;
}


.contact .btn-download {
    color: #003D21;
}


.btn-download i {
    margin-right: 10px;
}


.btn-download:hover {
    text-decoration: none;
    color: #E59D23;
}


.transparent-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    max-height: 110px;
    padding-bottom: 10px;
}


.services .transparent-footer {
    position: relative;
    align-items: flex-end;
    max-height: unset;
    padding-bottom: unset;
}


@media (max-width: 991.98px) {
    .transparent-footer {
        position: relative;
        align-items: flex-end;
        max-height: unset;
        padding-bottom: unset;
    }


    @media (min-height: 1048px) {
        .transparent-footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            display: flex;
            align-items: flex-end;
            max-height: 110px;
            padding-bottom: 10px;
        }
    }
}


@media (min-width: 992px) {
    @media (max-height: 600px) {
        .home .transparent-footer {
            position: relative;
            align-items: flex-end;
            max-height: unset;
            padding-bottom: unset;
        }


        .background-container {
            overflow: visible;
        }

    }


    @media (max-height: 750px) {

        .about .transparent-footer,
        .contact .transparent-footer,
        .portfolio .transparent-footer {
            position: relative;
            align-items: flex-end;
            max-height: unset;
            padding-bottom: unset;
        }
    }
}


@media (max-width: 767.98px) {
    .transparent-footer {
        position: relative;
        align-items: flex-end;
        max-height: unset;
        padding-bottom: unset;
    }
}


/* arrow buttons */

.direction-button {
    width: 45px;
    height: 45px;
    border: 1px solid #E6F4F1;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
}


.arrow:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-image: url("../images/arr-white.png");
    background-size: contain;
    background-repeat: no-repeat;
}


.direction-button.up {
    transform: rotate(-45deg);
}


.direction-button .portfolio-span {
    transform: rotate(45deg);
}


.direction-button.down {
    transform: rotate(135deg);
}


.direction-button .services-span {
    transform: rotate(-135deg);
}


.direction-button.left {
    transform: rotate(-135deg);
}


.direction-button .about-span {
    transform: rotate(135deg);
}


.direction-button.right {
    transform: rotate(45deg);
}


.direction-button .contact-span {
    transform: rotate(-45deg);
}


.direction-button.up:hover {
    transform: rotate(-45deg) scale(1.2);
}


.direction-button.down:hover {
    transform: rotate(135deg) scale(1.2);
}


.direction-button.left:hover {
    transform: rotate(-135deg) scale(1.2);
}


.direction-button.right:hover {
    transform: rotate(45deg) scale(1.2);
}


.transparent-footer .copyright {
    text-align: right;
    color: #697D91;
    margin-top: auto;
    margin-bottom: auto;
}


.footer-content .arrow-buttons {
    display: flex;
    margin-bottom: 16px;
    justify-content: center;
}


@media (max-width: 991.98px) {

    .footer-content .arrow-buttons,
    .transparent-footer .info {
        display: none;
    }
}


/* icon buttons */

.arrow-buttons .fa-solid,
.icon-buttons .fa-solid,
.icon-buttons .fa-regular {
    font-size: 1.5rem;
    color: #E6F4F1;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #E6F4F1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
}


.arrow-buttons .fa-solid:hover {
    transform: scale(1.2);
}


.footer-content .icon-buttons {
    display: flex;
    margin-bottom: 16px;
    justify-content: center;
}


@media (min-width: 992px) {
    .footer-content .icon-buttons {
        display: none;
    }
}


.icon-buttons .fa-address-card {
    margin-right: 0;
}


.tooltip {
    visibility: hidden;
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 16px;
}


.tooltip.about-span {
    top: 37px;
    left: 58%;
}


.tooltip.portfolio-span {
    bottom: 30px;
    left: 50%;
}


.tooltip.services-span {
    top: 30px;
    right: 50%;
}


.tooltip.contact-span {
    bottom: 39px;
    right: 32%;
}


.tooltip.home-span {
    bottom: 68px;
}


.arrow-buttons a:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


.contact .transparent-footer p {
    color: #003D21;
}


.about .transparent-footer p {
    color: #A1AABA;
}


.portfolio .transparent-footer p {
    color: #F0EDFF;
}