/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Exo Font */
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

html,
body {
    overflow-x: hidden;
}

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.background-container {
    position: relative;
    height: 100vh;
    background-color: black;
    overflow-y: auto;
}

@media (min-width: 992px) {
    .background-container {
        overflow: hidden;
    }
}



.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center top;
}

.content a {
    text-align: center;
    align-content: center;
    align-items: center;
}

.home {
    /* background-color: #0D2333; */
}

.about {
    background-color: #323E57;
}

.portfolio {
    background-color: #5C5A7A;
}

.services {
    background-color: #8C779B;
}

.contact {
    background-color: #BF95B9;
}

/* navigation bar */


.logo {
    width: 175px;
}

.navbar-nav .nav-link {
    color: #E6F4F1;
}

.navbar-nav .nav-link:hover {
    color: #E59D23;
    font-size: 18px;
}


.navbar-nav .active .nav-link {
    color: #0D2333;
    font-size: 18px;
    font-weight: 700;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-dark .navbar-toggler {
    margin-right: 10px;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.navbar-collapse {
    background-color: #697D91;
    border-radius: 8px;
    flex-grow: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.social-icons {
    display: flex;
    /* align-items: center; */
    justify-content: end;
    margin-top: 20px;
    margin-right: 5px;
    /* padding-right: 0; */
}

.social-icon {
    color: #9DB2C7;
    margin-left: 10px;
    font-size: 20px;
}

.social-icon:hover {
    color: #697D91;
}

/* full width menu */

@media (max-width: 767.98px) {
    .navbar-collapse {
        position: fixed;
        top: 115px;
        left: 0;
        right: 0;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.9);

    }

    .navbar-collapse ul.navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;

    }

    .navbar-collapse ul.navbar-nav li {
        margin-bottom: 1rem;
    }

    .logo {
        margin-left: 70px;
    }

    .navbar-nav .active .nav-link {
        color: #E59D23;
    }
}

/* Section */

.jumbotron {
    color: #E6F4F1;

    background-color: transparent;
    /* border-radius: 8px; */
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 40px;
    /* display: inline-block; */
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
}

@media (max-width: 767.98px) {
    .jumbotron {
        padding-top: 0;
    }

    .background-img {
        margin-top: 100px;
    }

    .content {
        margin-bottom: 100px;
    }

    .content .lead {

        font-size: 1.5rem;
    }


}

.jumbotron h1 {
    color: #E59D23;
}

.content {
    color: #E6F4F1;
    margin-top: 75px;

}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 15s forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 992px) {
    .content {
        margin-left: -25px;
        margin-right: 25px;
    }

    .content .lead {
        text-align: left;
    }
}

@media (max-width: 991.98px) {
    .row-container {
        margin-top: 200px;

    }

    .content {
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 40px;
    }


}

@media (min-width: 768px) {
    .content .lead {
        font-size: 2rem;
    }
}

.content .lead {
    color: #E6F4F1;



    /* background-color: black; */
}

.content .btn-primary {
    color: #E6F4F1;
    background-color: #E59D23;
    border-color: #E59D23;
    margin-top: 30px;
}

/* #carouselExampleCaptions {
    display: inline-block;
    margin: 50px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.85);
    color: #E59D23;
    padding: 10px;
    width: 100%;
    left: 0;
    position: absolute;
    bottom: 0;
}

#carouselExampleCaptions h2 {
    color: #E6F4F1;
    text-transform: uppercase;
    margin-bottom: 50px;
} */

/* @media (min-width: 992px) {
    .introduction {
        padding-right: 40px;
    }
} */


/* about section */
.profile-image {
    width: 100%;
    margin-top: -75px;
}

/* tab section */

.tab-area {
    margin-top: -50px;
}


/* ----------------------------------------Work History */

.history-heading {
    color: #fafafa;
    margin-bottom: 50px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
    margin-left: 20px;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.history-items {
    margin-bottom: 30px;
}

.tab-pane {
    margin-top: 20px;
}

.progress {
    margin: 30px;
    height: 20px;

}

@media (max-width: 991.98px) {
    .image-container {
        margin: 0 50px 120px;
    }

    .tab-area {
        margin-bottom: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.nav {
    margin-right: 20px;
}

#education h3,
#education p {
    color: #E6F4F1;
}


#education h3 {
    margin-top: 20px;
    font-size: 1.5rem;
}

#education p {
    margin-bottom: 6px;
}

#education ul {
    margin-top: 3rem;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
}

.bullet-list {
    list-style: none;
    padding-left: 20px;
}

.bullet-list li {
    position: relative;
    padding-left: 1rem;

}

.bullet-list h3:before {
    content: "";
    position: absolute;
    left: -1rem;
    top: 0%;
    transform: translateY(100%);
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

/* portfolio */

.portfolio h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    color: #F0EDFF;
}

.projects {
    margin-left: 0;
    margin-right: 0;
}

.pagination {
    justify-content: end;
    padding-right: 15px;
}

.card-body {
    padding-left: 15px;
    padding-right: 15px;
}

.card-body h5 {

    color: #00c893;
}

@media (max-width: 767.98px) {
    .card-space {
        padding-left: 0;
        padding-right: 0;
    }
}



@media (min-width: 992px) {
    @media (max-width: 1280px) {
        .card-space {
            padding-left: 5px;
            padding-right: 5px;
        }

        .portfolio .container-fluid {
            margin-top: -20px;
        }
    }
}

.card-space {
    text-align: center;
}

.card-text:last-child {
    height: 72px;
    color: #8F8CAF;
}

.list-group-item {
    padding-left: 15px;
    padding-right: 15px;

    color: #8F8CAF;
    text-align: center;
}

/* services */
.services-section {
    background-color: #E6F4F1;
    display: flex;
    flex-direction: column;
    /* background-color: #f2f2f2; */
    border-radius: 10px;
    padding: 20px 40px 20px;
    margin: 0;
    margin-bottom: 75px;
    /* margin: 0 30px; */
}

@media (max-width: 991.98px) {
    .services-section {
        margin: 0;
        margin-bottom: 75px;
    }

}

.service-column {
    padding: 0;
}

.service {
    width: 95%;
    text-align: center;
    margin: 0 auto;
}

.service i {
    font-size: 48px;
    margin-bottom: 20px;
}

.services-section h2 {
    text-transform: uppercase;
    margin-bottom: 50px;
}

.service h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.service p {
    font-size: 16px;
    line-height: 1.5;

}

.hire-me {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: red;
    align-items: center;
}

/* testimonials */

.testimonial-section {
    margin-bottom: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;

}

@media (max-width: 991.98px) {
    .testimonial-section {
        margin-left: 0;
    }
}

.testimonial-section h2 {
    font-size: 24px;
    color: #E6F4F1;
    text-transform: uppercase;
    margin-bottom: 40px;
}

@media (max-width: 991.98px) {


    .testimonial-section h2 {
        /* margin-bottom: 20px; */
    }
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 7px;
    transition: transform 0.3s ease-in-out;
    position: relative;

}



@media (max-width: 767.98px) {
    .testimonial-grid {
        display: block;

    }

    .testimonial-section {
        padding-left: 0px;
        padding-right: 0px;

    }

    .service-column {
        margin-bottom: 40px;
    }

    .testimonial-section h2 {
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media (min-width: 767.98px) {
    .services-section {
        /* margin-left: 15px;
        margin-right: 15px; */
    }
}

.testimonial {

    background-color: #f9f9f9;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;

    text-align: center;
}


.testimonial h3 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.testimonial p {
    font-size: 20px;
    color: #888;
    padding: 0 5px 10px 5px;
    margin-bottom: 10px;
    font-style: italic;

}



.testimonial img {
    width: 50px;

    height: 50px;
    border-radius: 50%;
}

.testimonial-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* ----------------------------------------contact */

.contact-form {
    /* background-color: #f2f2f2; */
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 50px;
}


.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #45a049;
}

.contact-details {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    max-width: 450px;
    margin: 0 auto;
}

.contact-details h2 {
    text-align: center;
    margin-bottom: 50px;
}

.contact-details h3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    /* display: flex; */
}

.contact-details p {
    display: flex;
    margin-bottom: 15px;
    margin-left: 50px;
}

.contact-details a {
    margin-right: auto;
}

.contact-details p i {
    margin-right: 5px;
}

/* footer */

.cv-download {
    margin-top: auto;
    margin-bottom: auto;
}

.btn-download {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 30px;
    margin-left: 10px;

}

.btn-download i {
    margin-right: 10px;
}

.btn-download:hover {
    text-decoration: underline;
}

.transparent-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    max-height: 110px;
    padding-bottom: 10px;
}

.services .transparent-footer {
    position: relative;
    align-items: flex-end;
    max-height: unset;
    padding-bottom: unset;
}

@media (max-width: 991.98px) {


    .about .transparent-footer,
    .portfolio .transparent-footer,
    .services .transparent-footer {
        position: relative;
        align-items: flex-end;
        max-height: unset;
        padding-bottom: unset;
    }
}

@media (max-width: 767.98px) {


    .transparent-footer {
        position: relative;
        align-items: flex-end;
        max-height: unset;
        padding-bottom: unset;
    }

    /* @media (max-height: 1024px) {
        .transparent-footer {
            position: relative;
            align-items: flex-end;
            max-height: unset;
            padding-bottom: unset;
        }
    } */
}

/* @media (max-width: 991.98px) {
    .about .transparent-footer {
        position: relative;
        align-items: flex-end;
        max-height: unset;
        padding-bottom: unset;
    }
} */

/* @media (max-width: 767.98px) {
    .transparent-footer {
        position: relative;
        align-items: flex-end;
        max-height: unset;
        padding-bottom: unset;
    }
} */

/* @media (max-height: 599.98px) {
    .transparent-footer {
        position: relative;
        align-items: flex-end;
        max-height: unset;
        padding-bottom: unset;
    }
} */

/* @media (max-height: 767.98px) {
    .transparent-footer {
        position: relative;
        align-items: flex-end;
        max-height: unset;
        padding-bottom: unset;
    }

    .timeline-item h4 {
        font-size: 1rem;
    }

    .timeline-item {
        padding: 60px 2em 0em 2em;
    }
} */

.direction-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
}



.arrow:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-image: url("../images/arr-white.png");
    background-size: contain;
    background-repeat: no-repeat;

}

.direction-button.up {
    transform: rotate(-45deg);
}

.direction-button.down {
    transform: rotate(135deg);
}

.direction-button.left {

    transform: rotate(-135deg);
}

.direction-button.right {
    transform: rotate(45deg);

}


.transparent-footer .copyright {
    text-align: right;
    color: #697D91;
    margin-top: auto;
    margin-bottom: auto;
}

.footer-content {
    display: flex;
    margin-bottom: 16px;
    justify-content: center;
}